<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Country-Club</display-name>
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
    </welcome-file-list>
    
    <servlet>
     <servlet-name>rk</servlet-name>
     <servlet-class>com.rk.controller.CountryClubController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>rk</servlet-name>
     <url-pattern>/rkurl</url-pattern>
  </servlet-mapping>
  
</web-app>